develop/nodered/data/.flows.json.backup
[
    {
        "id": "e1d8d9e2d4ab24bd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4d7f51eb959d502",
        "type": "chainId",
        "name": "nesto nesto",
        "chainName": "nebitno",
        "chainId": "5"
    },
    {
        "id": "35914e5f0672250c",
        "type": "userConfiguration",
        "address": "0xD8634C39BBFd403c0d3289C4515275102423681",
        "chainId": "e4d7f51eb959d502"
    },
    {
        "id": "3c100da9d16a9fbf",
        "type": "inject",
        "z": "e1d8d9e2d4ab24bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 480,
        "wires": [
            [
                "7525be1830413ab5"
            ]
        ]
    },
    {
        "id": "7525be1830413ab5",
        "type": "getUserSubscriptions",
        "z": "e1d8d9e2d4ab24bd",
        "name": "",
        "env": "staging",
        "userConfiguration": "35914e5f0672250c",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "2e9484f744ee1f9f"
            ]
        ]
    },
    {
        "id": "2e9484f744ee1f9f",
        "type": "function",
        "z": "e1d8d9e2d4ab24bd",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8bafb16eb8b151ad",
        "type": "searchChannels",
        "z": "e1d8d9e2d4ab24bd",
        "name": "",
        "query": "queryParam",
        "env": "staging",
        "page": 1,
        "limit": "20",
        "x": 700,
        "y": 620,
        "wires": [
            [
                "7e03aecfb2cfb00f"
            ]
        ]
    },
    {
        "id": "ce75d9f1f051054b",
        "type": "inject",
        "z": "e1d8d9e2d4ab24bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "queryParam",
                "v": "Push",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 620,
        "wires": [
            [
                "8bafb16eb8b151ad"
            ]
        ]
    },
    {
        "id": "7e03aecfb2cfb00f",
        "type": "debug",
        "z": "e1d8d9e2d4ab24bd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 620,
        "wires": []
    }
]