develop/nodered/data/flows.json
[
    {
        "id": "6c9177d9d57832c1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96435e2ef929b31c",
        "type": "privateKey",
        "name": "mm private key",
        "key": "0xac79afa6f65d7362d6bd843af62c7af7b657009670e97db97ae1d428f410256a"
    },
    {
        "id": "c9d9dd409ef6ad8b",
        "type": "chainId",
        "name": "goerli",
        "chainName": "goerli",
        "chainId": "5"
    },
    {
        "id": "1acdae887b29ae21",
        "type": "userConfiguration",
        "name": "mm",
        "address": "0x5368658b8eF047Af9DF427eA4D8c591FC24a7f5E",
        "chainId": "c9d9dd409ef6ad8b"
    },
    {
        "id": "e83f4e0fc6fbaf8a",
        "type": "signerConfiguration",
        "name": "jebo mamu al je zajebano",
        "userConfig": "1acdae887b29ae21",
        "privateKeyConfig": "96435e2ef929b31c"
    },
    {
        "id": "1b3937321b4c6087",
        "type": "userConfiguration",
        "name": "sta god",
        "address": "0xnepostoji",
        "chainId": "c9d9dd409ef6ad8b"
    },
    {
        "id": "7535e1a6dbe784f4",
        "type": "opt-node",
        "z": "6c9177d9d57832c1",
        "name": "asd",
        "method": "opt-in",
        "channel": "1b3937321b4c6087",
        "user": "e83f4e0fc6fbaf8a",
        "env": "prod",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "6c0d0c8e561aac1e"
            ]
        ]
    },
    {
        "id": "d0fa79cf27532328",
        "type": "inject",
        "z": "6c9177d9d57832c1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 420,
        "wires": [
            [
                "7535e1a6dbe784f4"
            ]
        ]
    },
    {
        "id": "6c0d0c8e561aac1e",
        "type": "debug",
        "z": "6c9177d9d57832c1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 420,
        "wires": []
    }
]