develop/nodered/data/flows.json
[
    {
        "id": "281cfee0f3c62848",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd4a02813312c9ac",
        "type": "rpc",
        "name": "goerli provider",
        "rpc": "https://eth-goerli.g.alchemy.com/v2/lWjLf8hmkz3yFAl3KzY0pNPNKg4IkaSD"
    },
    {
        "id": "69293f859f9a87b5",
        "type": "privateKey",
        "name": "Account #1",
        "key": "0xf85fa1dbcd1f5ec53d1a4eda7ed40d917498227600fdf6d86b30582c231d7a86"
    },
    {
        "id": "ffdc48e7f2df21eb",
        "type": "privateKey",
        "name": "Account #2",
        "key": "ddb2d2d9ab5b3507d75812aa93c826b189240abc82212351eb32db7bcc6f60dd"
    },
    {
        "id": "c6e9a0cfe975f0b7",
        "type": "inject",
        "z": "281cfee0f3c62848",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "5dad2299cfb91b83"
            ]
        ]
    },
    {
        "id": "c7e9c5b74fdaa57b",
        "type": "debug",
        "z": "281cfee0f3c62848",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "5dad2299cfb91b83",
        "type": "Ethereum-Transfer",
        "z": "281cfee0f3c62848",
        "name": "pay Ben",
        "rpc": "dd4a02813312c9ac",
        "privateKey": "69293f859f9a87b5",
        "recipientAddress": "0x6d569AA9965a9713332646770274739b90f817cf",
        "recipientAddressType": "str",
        "etherAmount": "0.05",
        "etherAmountType": "str",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "07eea90d961f248f",
                "4567c69a07d92d25"
            ]
        ]
    },
    {
        "id": "07eea90d961f248f",
        "type": "Ethereum-Read-Account",
        "z": "281cfee0f3c62848",
        "name": "#2",
        "rpc": "dd4a02813312c9ac",
        "action": "getBalance",
        "account": "0x6d569AA9965a9713332646770274739b90f817cf",
        "accountType": "str",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "c7e9c5b74fdaa57b"
            ]
        ]
    },
    {
        "id": "4567c69a07d92d25",
        "type": "Ethereum-Read-Account",
        "z": "281cfee0f3c62848",
        "name": "#1",
        "rpc": "dd4a02813312c9ac",
        "action": "getBalance",
        "account": "0x909bD74ff56d6602102Ab5F03C7c7AE8562aCd62",
        "accountType": "str",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "c7e9c5b74fdaa57b"
            ]
        ]
    }
]